li.nav-item {
    text-decoration: none;
    
}

/* HOME */
@font-face {
    font-family: nfl font;
    src: url('../fonts/nfl-font.eot')
        url('../fonts/nfl-font.woff');
}

body{
    background-image: url(/imgs/nfl-bkg.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
    height: 1000px;
    
    overflow: hidden;
    
}

.fundo-esc{
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99999;
}

.topo{
    background-color: #d9d1ff;
    height: auto;
    color: #fff;
    
}

h1 {
    text-align: right;
    color: blue;
    font-family: nfl font;
    
}

div>h1>span {
    color: red;
    margin-right: -10px;
}

.botaoh{
    margin-top: 250px;
    margin-left: 11rem;
    
}

.link-logo{
    text-decoration:none;
    width:70px;
}

a.botaoh{
    text-decoration:none;
}
/* FIM HOME */

/* RESULTADOS */
table {
    border: 2px solid;
    border-collapse: separate;
    margin: 20px 30px;
}

th {
    padding: 10px;
}

.versus {
    text-align: center;
}
/* FIM RESULTADOS */

/* TABELA  */

/* FIM TABELA */


/*  */

/* FIM */

